<div class="flex flex-col min-h-screen">
  <p-menubar>
    <ng-template pTemplate="start">
      <span class="text-xl font-semibold">Ngrx Jira Clone</span>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex items-center gap-3 px-4">
        <span class="text-gray-400 font-medium">{{ email$ | async }}</span>
        <app-theme-toggle></app-theme-toggle>

        <p-button
          [rounded]="true"
          icon="pi pi-sign-out"
          variant="outlined"
          severity="help"
          (click)="onLogout()"
        ></p-button>
      </div>
    </ng-template>
  </p-menubar>

  <div class="p-4 pb-0 flex items-center gap-4">
    <p-button-group>
      <p-button
        [rounded]="false"
        icon="pi pi-list"
        label="All Tasks"
        size="small"
        [severity]="filterTasks() === 'all' ? 'primary' : 'secondary'"
        (click)="setFilterTasks('all')"
      ></p-button>

      <p-button
        [rounded]="false"
        icon="pi pi-user"
        label="My Tasks"
        size="small"
        [severity]="filterTasks() === 'my' ? 'primary' : 'secondary'"
        (click)="setFilterTasks('my')"
      ></p-button>
    </p-button-group>

    <p-button
      [rounded]="true"
      icon="pi pi-plus"
      variant="outlined"
      size="small"
      (click)="onCreateTasksForm()"
    ></p-button>
  </div>

  <main class="p-4 flex-grow min-w-[900px] grid grid-cols-3 gap-4 overflow-auto">
    @for (column of columns(); track column.title) {
    <p-card class="border border-gray-600" pDroppable (onDrop)="onDrop($event, column.title)">
      <ng-template #title>{{ column.title }}</ng-template>
      <p-divider />

      @for (tasks of column.tasks | async; track tasks._id) {
      <app-tasks-card
        pDraggable
        [tasks]="tasks"
        (onDragStart)="dragStart(tasks)"
        (onDragEnd)="dragEnd()"
        (editClicked)="onEditTasksForm($event)"
      ></app-tasks-card>
      }
    </p-card>
    }
  </main>
</div>

<p-dialog
  [(visible)]="visible"
  modal="true"
  [style]="{ width: '50rem', height: 'auto' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <ng-template #header>
    @if (mode === 'create') {
    <span>Create Tasks</span>
    } @else {
    <span>Edit Tasks</span>
    }
  </ng-template>

  @if (visible) {
  <app-tasks-form
    [mode]="mode"
    [tasks]="tasks"
    [users]="users$ | async"
    (formSubmit)="onTasksFormSubmit($event)"
    (cancelClicked)="onCloseTasksForm()"
    (deleteClicked)="onDeleteTasks($event)"
  ></app-tasks-form>
  <p-divider></p-divider>

  <app-task-comment-form
    [mode]="'create'"
    [comment]="null"
    [comments]="comments$ | async"
    (formSubmit)="onCommentFormSubmit($event)"
    (editClicked)="onEditCommentForm($event)"
    (deleteClicked)="onDeleteComment($event)"
  ></app-task-comment-form>
  }
</p-dialog>
