<div class="flex gap-4 items-start px-4 py-2 rounded-lg shadow-sm">
  <p-avatar
    [label]="comment()?.authorName?.substring(0, 1)"
    shape="circle"
    size="normal"
    class="mt-1"
  ></p-avatar>

  <div class="flex-1">
    <div class="flex justify-between gap-2">
      <div class="flex items-center gap-x-3">
        <div class="font-medium text-md">{{ comment()?.authorName }}</div>
        <div class="text-sm">{{ comment()?.createdAt | date: 'medium' }}</div>
      </div>

      <div class="flex items-center">
        <p-button
          type="button"
          variant="text"
          severity="help"
          rounded
          icon="pi pi-pencil"
          (click)="onEdit()"
        ></p-button>

        <p-confirmpopup />
        <p-button
          type="button"
          variant="text"
          severity="danger"
          rounded
          icon="pi pi-trash"
          (click)="onConfirmDelete($event)"
        ></p-button>
      </div>
    </div>

    @if (isEdit()) {
      <form [formGroup]="commentForm" (ngSubmit)="onSave()" class="flex flex-col gap-y-4">
        <app-text-area
          [id]="'content'"
          [label]="'Comment'"
          [control]="commentForm.controls.content"
          [rows]="2"
        ></app-text-area>
        <div class="flex justify-end gap-4">
          <p-button
            type="button"
            label="Cancel"
            variant="text"
            severity="secondary"
            (click)="onCancel()"
          ></p-button>
          <p-button type="submit" label="Save" severity="help"></p-button>
        </div>
      </form>
    } @else {
      <div class="mt-2 text-sm whitespace-pre-line">
        {{ comment()?.content }}
      </div>
    }
  </div>
</div>
