<form
  [formGroup]="tasksForm"
  (ngSubmit)="onSubmit()"
  appMarkAllAsTouched
  class="flex flex-col gap-y-4 mt-2"
>
  <div class="flex gap-4">
    <app-select
      [id]="'assigneedId'"
      [label]="'Assign To'"
      [control]="tasksForm.controls.assigneeId"
      [options]="userOptions()"
      class="flex-1"
    ></app-select>

    @if (mode() === 'update') {
    <app-select
      [id]="'status'"
      [label]="'Status'"
      [control]="tasksForm.controls.status"
      [errorMessage]="validateMessage.status"
      [options]="statusOptions"
      class="flex-1"
    ></app-select>
    }
  </div>

  <app-input
    [id]="'title'"
    [type]="'text'"
    [label]="'Title'"
    [control]="tasksForm.controls.title"
    [errorMessage]="validateMessage.title"
  ></app-input>

  <app-text-area
    [id]="'description'"
    [label]="'Description'"
    [control]="tasksForm.controls.description"
  ></app-text-area>

  @if (mode() === 'create') {
  <div class="flex justify-end gap-2">
    <p-button label="Cancel" [text]="true" severity="secondary" (click)="onCancel()" />
    <p-button type="submit" label="Submit" />
  </div>
  } @else {
  <div class="flex justify-between">
    <div>
      <p-confirmpopup />
      <p-button
        label="Delete"
        severity="danger"
        [outlined]="true"
        (click)="onConfirmDelete($event)"
      ></p-button>
    </div>

    <div class="flex gap-2">
      <p-button label="Cancel" [text]="true" severity="secondary" (click)="onCancel()" />
      <p-button type="submit" label="Submit" />
    </div>
  </div>
  }
</form>
