<div class="h-screen flex items-center justify-center">
  <p-card header="Login" class="w-full max-w-md">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      appMarkAllAsTouched
      class="flex flex-col gap-4 mt-4"
    >
      <app-input
        [id]="'email'"
        [type]="'email'"
        [label]="'Email'"
        [control]="email"
        [errorMessage]="validationMessages.email"
      ></app-input>

      <app-input
        [id]="'password'"
        [type]="'password'"
        [label]="'Password'"
        [control]="password"
        [errorMessage]="validationMessages.password"
      ></app-input>
      <p-button
        type="submit"
        label="Login"
        [loading]="isLoading()"
        [style]="{ width: '100%' }"
      ></p-button>
    </form>

    <div class="mt-8 flex justify-center items-center">
      Don't have an account?
      <a [routerLink]="link()">
        <p-button label="Register" link severity="info" />
      </a>
    </div>
  </p-card>
</div>
