<div class="flex flex-col min-h-screen">
  <p-menubar>
    <ng-template pTemplate="start">
      <span class="text-xl font-semibold">Ngrx Jira Clone</span>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex items-center gap-3 px-4">
        <span class="text-gray-400 font-medium">{{ email$ | async }}</span>
        <app-theme-toggle></app-theme-toggle>

        <p-button
          [rounded]="true"
          icon="pi pi-sign-out"
          variant="outlined"
          severity="help"
          (click)="onLogout()"
        ></p-button>
      </div>
    </ng-template>
  </p-menubar>

  <main class="flex-grow min-w-[900px] grid grid-cols-3 gap-4 overflow-auto px-4 py-6">
    <p-card class="border border-gray-600" pDroppable (onDrop)="onDrop($event)">
      <ng-template #title>To Do</ng-template>
      <p-divider />

      @for (task of todoTasks$ | async; track task._id) {
      <app-task-card
        pDraggable
        [task]="task"
        (onDragStart)="dragStart(task)"
        (onDragEnd)="dragEnd(task)"
      >
        >
      </app-task-card>
      }
    </p-card>

    <p-card class="border border-gray-600" pDroppable (onDrop)="onDrop($event)">
      <ng-template #title>In Progress</ng-template>
      <p-divider />

      @for (task of todoTasks$ | async; track task._id) {
      <app-task-card
        pDraggable
        [task]="task"
        (onDragStart)="dragStart(task)"
        (onDragEnd)="dragEnd(task)"
      >
        >
      </app-task-card>
      }
    </p-card>

    <p-card class="border border-gray-600" pDroppable (onDrop)="onDrop($event)">
      <ng-template #title>Done</ng-template>
      <p-divider />

      @for (task of todoTasks$ | async; track task._id) {
      <app-task-card
        pDraggable
        [task]="task"
        (onDragStart)="dragStart(task)"
        (onDragEnd)="dragEnd(task)"
      >
        >
      </app-task-card>
      }
    </p-card>
  </main>
</div>
